body {
	background-image: url(../images/background.png);
}

.nav {
	position: relative;
	width: 100%;
	height: 56px;
	margin-bottom: 30px;
	background-color: white;
	border-bottom-style: solid;
	border-color: #CCCCCC;
}

.name {
	position: relative;
	background-color: #4AAAA5;
	color: white;
	width: 130px;
	display: inline-block;
	padding: 20px;
	margin-left: 50px;
}

ul {
	position: absolute;
	right: 0px;
	top: 20px;
	list-style: none;

}

li {
	display: inline;
	padding: 10px;
}

h1, h2 {
	color: #4AAAA5;
}

.main {
	float: left;
	width: 380px;
	border-style: solid;
	border-color: #E2E2E2;
	border-width: 1px;
	background-color: white;
	padding: 0px 20px 20px 20px;
	margin-left: 50px;
}

.bio-image {
	width: 100px;
	height: auto;
}

.images {
	width: 49%;
}
.connect {
	position: absolute;
	left: 480px;
	float: left;
	padding: 0px 20px 20px 20px;
	width: 176px;
	border-style: solid;
	border-color: #E1E1E1;
	border-width: 1px;
	background-color: white;
	margin-left: 50px;
}

.link {
	width: 55px;
	height: 55px;
}

footer {
	font-size: .7em;
	float: left;
	width: 100%;
	text-align: center;
	background-color: #666666;
	color: white;
	padding: 20px;
	border-top: solid;
	border-color: #4AAAA5;
	margin-top: 30px;

}
